/*=======LAYOUT==============*/

body {
margin: 0px;
background: #ffffff;
font-size: 16px;
font-family: "Verdana", "Georgia";
}

#header {

background-color: #903139;
color: #fffacd;
margin: 10px;
height: 110px;
border-radius: 5px;
}


#navbar ul {

padding: 5px;
list-style-type: none;
text-align: center;
background-color: #000;
margin: 10px;
border-radius: 5px;
cursor: pointer;
}

#navbar ul li {

display: inline;
}

#navbar ul li a {

text-decoration: none;
font-size: 135%;
font-family: Baskerville Old Face;
padding: 5px 70px;
color: #fff;
background-color: #000;
}

#navbar ul li a:hover {
color: #000;
background-color: #fff;
}

.dropbtn {

background-color: #903139; /*#9a32cd;*/
color: white;
padding: 10px;
font-size: 20px;
border: none;
cursor: pointer;
margin-left: 70px;
font-family: Baskerville Old Face;
text-decoration: none;
}



.dropdown {

position: relative;
display: inline-block;
margin-left: 90px;
}

.dropdown-content {

display: none;
position: absolute;
margin-left: 70px;
background-color: white;
color: #fff;
min-width: 170px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}


.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
background-color: #f1f1f1; 
}


.dropdown:hover .dropdown-content {
display: block;
}

.button {

background: #e7e7e7;
border: 1px solid;
border-radius: 3px;
font: 700 13px Helvetica;
height: 30px;
line-height: 28px;
padding: 0px 20px;
text-align: center;
box-sizing: border-box;
display: block;
margin: auto;
width: 10%;
text-decoration: none;
color: #303030;
}

#newuser {

margin-left:580px;
}





/*HEADER========================================*/

h1 {

font-size: 300%;
text-align: center;
font-family: Gill Sans MS;
margin: 0px;

position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*IMAGES=========================================*/

#homeimg {

display: block;
margin-top: 30px;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
opacity: 1.0;
transition: opacity 0.4s ease-in-out;
}


#homeimg:hover {
opacity: 0.7;
}


/*FOOTER====================================*/

#footer {

background-color: #903139;
margin: 10px;
height: 60px;
clear: both;
border-radius: 5px;
color: #fffacd;
text-align: center;
padding: 15 px;
font-size: 90%;
}

#footer ul {

padding: 5px;
list-style-type: none;
text-align: center;
margin: 10px;
border-radius: 5px;
}

#footer ul li {

display: inline;
}

#footer ul li a {

text-decoration: none;
font-family: Arial;
padding: 5px 30px;
color: #fffacd;
background-color: #903139;
}

#footer ul li a:hover {
color: #000;
background-color: #fff;
}